footer{
    background-color: black;
    bottom: 0;
    width: 100%;
    height: 100px;
    position: relative;
    font-family: "Calibri";
    font-size: 12px;



}

#about{
    background-color: palegreen ;
    font-size: 20px;


}


 #nav-bar{
     font-family: "Calibri";
     font-size: 28px;
     text-align: center;
     background-color: black;
     padding: 1%;


 }
header{
    background-color: palegreen ;
    margin: 0% ;

}

